networks:
  appnet:

volumes:
  pgdata:

services:
  db:
    image: postgres:17
    container_name: taskforge-db
    environment:
      POSTGRES_DB: taskforge
      POSTGRES_USER: taskforge
      POSTGRES_PASSWORD: taskforge
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks: [appnet]
    restart: unless-stopped

  api:
    build:
      context: ./taskforge
      dockerfile: Dockerfile
    image: taskforge-api:local
    container_name: taskforge-api
    depends_on: [cpp-runner, csharp-runner, python-runner]
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: "Host=host.docker.internal;Port=5432;Database=taskforge_dev;Username=postgres;Password=SuperSecret"
      Compilers__cpp__Url: "http://cpp-runner:8080"
      Compilers__cpp__TimeoutMs: "12000"
      Compilers__csharp__Url: "http://csharp-runner:8080"
      Compilers__csharp__TimeoutMs: "12000"
      Compilers__python__Url: "http://python-runner:8080"
      Compilers__python__TimeoutMs: "8000"
    expose: ["8080"]
    networks: [appnet]
    restart: unless-stopped

  front:
    build:
      context: ./clientapp
      dockerfile: Dockerfile
      args:
        - REACT_APP_API_BASE=/api
    image: taskforge-front:local
    container_name: taskforge-front
    expose: ["80"]
    networks: [appnet]
    restart: unless-stopped

  cpp-runner:
    build:
      context: ./cpp-runner
      dockerfile: Dockerfile
    image: taskforge-cpp-runner:local
    container_name: taskforge-cpp-runner
    expose: ["8080"]
    networks: [appnet]
    restart: unless-stopped

  csharp-runner:
    build:
      context: ./csharp-runner
      dockerfile: Dockerfile
    image: taskforge-csharp-runner:local
    container_name: taskforge-csharp-runner
    expose: ["8080"]
    networks: [appnet]
    restart: unless-stopped

  python-runner:
    build:
      context: ./python-runner
      dockerfile: Dockerfile
    image: taskforge-python-runner:local
    container_name: taskforge-python-runner
    expose: ["8080"]
    networks: [appnet]
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: taskforge-nginx-local
    depends_on: [front, api]
    volumes:
      - ./nginx/local.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "8080:80"
    networks: [appnet]
    restart: unless-stopped
