name: Sync subtrees FROM develop -> branches

on:
  push:
    branches: [ develop ]
    paths:
      - 'taskforge/**'        # API
      - 'clientapp/**'        # Front
      - 'python-runner/**'
      - 'cpp-runner/**'
      - 'csharp-runner/**'
      - '.github/workflows/sync-from-develop.yml'
  workflow_dispatch: {}

permissions:
  contents: write

jobs:
  split-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # <<< ВАЖНО: здесь используется ваш PAT из Secrets >>>
      - name: Configure git (use PAT so downstream workflows trigger)
        run: |
          git config user.name  "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git remote set-url origin https://${{ secrets.ACTIONS_PAT }}@github.com/${{ github.repository }}.git

      - name: API -> branch api
        run: |
          git subtree split --prefix=taskforge -b __tmp_api
          git push origin __tmp_api:api --force
          git branch -D __tmp_api

      - name: FRONT -> branch front
        run: |
          git subtree split --prefix=clientapp -b __tmp_front
          git push origin __tmp_front:front --force
          git branch -D __tmp_front

      - name: PY -> branch python-runner
        run: |
          git subtree split --prefix=python-runner -b __tmp_py
          git push origin __tmp_py:python-runner --force
          git branch -D __tmp_py

      - name: CPP -> branch cpp-runner
        run: |
          git subtree split --prefix=cpp-runner -b __tmp_cpp
          git push origin __tmp_cpp:cpp-runner --force
          git branch -D __tmp_cpp

      - name: CSharp -> branch csharp-runner
        run: |
          git subtree split --prefix=csharp-runner -b __tmp_cs
          git push origin __tmp_cs:csharp-runner --force
          git branch -D __tmp_cs
